<div class="dashboard-wrapper">
  <!-- 🔥 TOP MENU BAR -->
  <header class="top-header">
    <app-update-profile></app-update-profile>
    <app-change-password></app-change-password>
    <div class="navbar">
      <div class="logo">
        <h3>MANKURUSSI TEMPLE</h3>
      </div>

      <ul class="menu">

        <li routerLink="/dashboard" (click)="$event.stopPropagation()">Dashboard</li>

        <!-- MASTER -->
        <li *ngIf="isAdmin()" (click)="toggleMenu('master')" class="has-sub">
          Master
          <span class="arrow" [class.rotate]="activeMenu === 'master'">▾</span>
          <ul class="submenu" *ngIf="activeMenu === 'master'">
            <li routerLink="/offering" (click)="$event.stopPropagation()">Offerings/Vazhipadu</li>
<!--            <li routerLink="/god" (click)="$event.stopPropagation()">Prathista</li>-->
            <li routerLink="/event" (click)="$event.stopPropagation()">Events</li>
          </ul>
        </li>

        <!-- BOOKING -->
        <li (click)="toggleMenu('booking')" class="has-sub">
          Booking
          <span class="arrow" [class.rotate]="activeMenu === 'booking'">▾</span>

          <ul class="submenu" *ngIf="activeMenu === 'booking'">
            <li routerLink="/booking" (click)="$event.stopPropagation()">Counter</li>
          </ul>
        </li>

        <!-- DONATION -->
        <li (click)="toggleMenu('donation')" class="has-sub active">
          Donation
          <span class="arrow" [class.rotate]="activeMenu === 'donation'">▾</span>

          <ul class="submenu" *ngIf="activeMenu === 'donation'">
            <li routerLink="/donation" (click)="$event.stopPropagation()">Add Donation</li>
          </ul>
        </li>

        <!-- ACCOUNTS -->
        <li (click)="toggleMenu('accounts')" class="has-sub">
          Accounts
          <span class="arrow" [class.rotate]="activeMenu === 'accounts'">▾</span>

          <ul class="submenu" *ngIf="activeMenu === 'accounts'">
            <li *ngIf="isAdmin()" routerLink="/finance-manager" (click)="$event.stopPropagation()">Income/Expense
              Titles
            </li>
            <li routerLink="/income-entry" (click)="$event.stopPropagation()">Income</li>
            <li routerLink="/expense-entry" (click)="$event.stopPropagation()">Expense</li>
          </ul>
        </li>

        <!-- REPORTS -->
        <li (click)="toggleMenu('reports')" class="has-sub">
          Reports
          <span class="arrow" [class.rotate]="activeMenu === 'reports'">▾</span>

          <ul class="submenu" *ngIf="activeMenu === 'reports'">
            <li routerLink="/booking-report" (click)="$event.stopPropagation()">Vazhipadu</li>
            <li routerLink="/donation-report" (click)="$event.stopPropagation()">Donation</li>
            <li routerLink="/income-report" (click)="$event.stopPropagation()">Income</li>
            <li routerLink="/expense-report" (click)="$event.stopPropagation()">Expense</li>
            <li routerLink="/income-summary" (click)="$event.stopPropagation()">Income/Expense Summary Report</li>
          </ul>
        </li>


      </ul>

      <div class="user-section" (click)="toggleProfile($event)">
        Hi, {{ getFirstName(username) }}
        <div class="avatar">{{avatar}}</div>
        <!-- PROFILE DROPDOWN -->
        <div class="profile-dropdown" *ngIf="showProfile">

          <div class="profile-top">
            <div class="avatar big">{{avatar}}</div>

            <div class="profile-text">
              <h4>{{ getFirstName(username) }}</h4>
              <span class="role">{{role}}</span>
            </div>
          </div>

          <div class="divider"></div>

          <div class="profile-item" (click)="openMyProfile()">
            👤 My Profile
          </div>

          <div *ngIf="isUser()" class="profile-item" (click)="updateProfilePopup.open()">
            ⚙ Update Profile
          </div>

          <div *ngIf="isAdmin()" class="profile-item" routerLink="/users" (click)="$event.stopPropagation()">
            ⚙ Profiles Management
          </div>

          <div class="profile-item" (click)="changePasswordPopup.open()">
            🔑 Change Password
          </div>

          <div class="divider"></div>

          <div class="profile-item logout" (click)="logout()">
            🚪 Sign Out
          </div>

        </div>
      </div>

    </div>
  </header>
  <!-- 🔥 PAGE CONTENT -->
  <div class="content-area">

    <div class="page-header">
      <h2>Donation Management</h2>
      <button class="btn-new" (click)="openModal()">Add Donation</button>
    </div>

    <!-- MESSAGE HERE -->

    <div *ngIf="successMessage" class="success-alert">
      ✔ {{successMessage}}
    </div>

    <div *ngIf="errorMessage" class="error-alert">
      ⚠ {{errorMessage}}
    </div>

    <div class="table-card">
      <!-- 📋 Gods Table -->

      <div class="filter-row" [formGroup]="filterForm">

        <input type="text"
               formControlName="devoteeName"
               placeholder="Name">

        <select formControlName="paymentStatus">
          <option value="">Payment Status</option>
          <option value="SUCCESS">Success</option>
          <option value="PENDING">Pending</option>
          <option value="FAILED">Failed</option>
        </select>

        <select formControlName="paymentType">
          <option value="">Payment Method</option>
          <option value="CASH">Cash</option>
          <option value="UPI">UPI</option>
        </select>
        <input #startDateInput type="text"
               placeholder="Start Date"
               formControlName="startDate"
               (focus)="startDateInput.type='date'"
               (blur)="!startDateInput.value ? startDateInput.type='text' : null">
        <input #endDateInput type="text"
               placeholder="End Date"
               formControlName="endDate"
               (focus)="endDateInput.type='date'"
               (blur)="!endDateInput.value ? endDateInput.type='text' : null">

        <div class="btn-group">
          <button class="btn-search" (click)="applyFilter()">Search</button>
          <button class="btn-reset" (click)="resetFilter()">Reset</button>
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Donation Amount</th>
          <th>Purpose</th>
          <th>Status</th>
          <th>Method</th>
          <th>Date Received</th>
          <th>Date Entered</th>
          <th>Edit</th>
          <th>Print</th>
          <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let d of donations">
          <td>{{ d.id }}</td>
          <td>{{ d.devoteeName }}</td>
          <td>{{ d.address }}</td>
          <td>{{ d.phoneNo }}</td>
          <td>₹ {{ d.amount }}.00</td>
          <td>{{ d.donateFor }}</td>
          <td>
             <span
               class="badge"
               [ngClass]="{
      'confirmed': d.paymentStatus === 'SUCCESS',
      'pending': d.paymentStatus === 'PENDING',
      'cancelled': d.paymentStatus === 'FAILED'
    }">
               {{ d.paymentStatus }}</span></td>
          <td>{{ d.paymentType }}</td>
          <td>{{ d.donationDate | date:'MMM d, yyyy' }}</td>
          <td>{{ d.createdDate | date:'MMM d, yyyy' }}</td>

          <td>
            <button class="edit-btn" (click)="editDonation(d)">Edit</button>
          </td>
          <td>
            <button class="print-btn" (click)="openPrintPopup(d)">Print</button>
          </td>
          <td>
            <button class="delete-btn"
                    (click)="confirmDialog.open('Delete Donation','Are you sure you want to delete this donation?'); selectedId = d.id">
              Delete
            </button>
          </td>

          <!--          <td><button class="delete-btn" (click)="deleteDonation(d.id)">Delete</button></td>-->
        </tr>
        </tbody>
      </table>
      <div class="pagination" *ngIf="totalPages > 1">

        <button
          [disabled]="page === 0"
          (click)="changePage(page - 1)">
          ⬅ Prev
        </button>

        <span>
    Page {{ page + 1 }} of {{ totalPages }}
  </span>

        <button
          [disabled]="page === totalPages - 1"
          (click)="changePage(page + 1)">
          Next ➡
        </button>

      </div>
    </div>
  </div>
</div>

<!--ADD/EDIT POPUP-->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-container">

    <div class="modal-header">
      <h3>{{ isEditMode ? 'Edit Donation' : 'Add Donation' }}</h3>
      <button class="close-btn" (click)="closeModal()">✕</button>
    </div>

    <form [formGroup]="donationForm" (ngSubmit)="submitDonation()">
      <div class="form-grid">
        <div class="form-group">
          <label>Date <span class="required"> * </span></label>
          <input type="date" formControlName="donationDate">
          <small class="error"
                 *ngIf="donationForm.get('donationDate')?.touched &&
 donationForm.get('donationDate')?.invalid">
            Donation date is required
          </small>
        </div>

        <div class="form-group">
          <label>Payment Type <span class="required"> * </span></label>
          <select formControlName="paymentType">
            <option value="">Select</option>
            <option value="CASH">Cash</option>
            <option value="UPI">UPI</option>
          </select>
          <small class="error"
                 *ngIf="donationForm.get('paymentType')?.touched &&
 donationForm.get('paymentType')?.invalid">
            Payment Type is required
          </small>
        </div>

        <div class="form-group">
          <label>Payment Status <span class="required"> * </span></label>
          <select formControlName="paymentStatus">
            <option value="SUCCESS">Success</option>
            <option value="FAILED">Failed</option>
            <option value="PENDING">Pending</option>
          </select>
          <small class="error"
                 *ngIf="donationForm.get('paymentStatus')?.touched &&
 donationForm.get('paymentStatus')?.invalid">
            Payment Status is required
          </small>
        </div>
        <div class="form-group" *ngIf="showReceiptFields">
          <label>Receipt Book No </label>
          <input type="text" placeholder="Receipt Book No" formControlName="receiptBookNo" readonly>
        </div>
        <div class="form-group" *ngIf="showReceiptFields">
          <label>Receipt No </label>
          <input type="text" placeholder="Receipt No" formControlName="receiptNo" readonly>
        </div>
        <div class="form-group">
          <label>Devotee Name <span class="required"> * </span></label>
          <input type="text" placeholder="Devotee Name" formControlName="devoteeName">
          <small class="error"
                 *ngIf="donationForm.get('devoteeName')?.touched &&
 donationForm.get('devoteeName')?.invalid">
            Devotee Name is required
          </small>
        </div>
        <div class="form-group">
          <label>Phone <span class="required"> * </span></label>
          <input type="text" placeholder="Phone" formControlName="phoneNo">
          <small class="error"
                 *ngIf="donationForm.get('phoneNo')?.touched &&
 donationForm.get('phoneNo')?.invalid">
            Phone is required
          </small>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" placeholder="Address" formControlName="address">
        </div>
        <div class="form-group">
          <label>Amount <span class="required"> * </span></label>
          <input type="number" placeholder="Amount" formControlName="amount">
          <small class="error"
                 *ngIf="donationForm.get('amount')?.touched &&
 donationForm.get('amount')?.invalid">
            Amount is required
          </small>
        </div>
        <div class="form-group">
          <label>Donate For <span class="required"> * </span></label>
          <select formControlName="donateFor">
            <option value="">Select</option>
            <option *ngFor="let e of events"
                    [value]="e.eventName">{{ e.eventName }}
            </option>
          </select>
          <small class="error"
                 *ngIf="donationForm.get('donateFor')?.touched &&
 donationForm.get('donateFor')?.invalid">
            Donate For is required
          </small>
        </div>
        <div class="form-group">
          <label>Remarks</label>
          <input type="text" placeholder="Remarks" formControlName="remarks">
        </div>

        <div class="modal-footer">
          <button type="button" (click)="closeModal()" class="cancel-btn">Cancel</button>
          <button type="submit" class="btn-submit" [disabled]="donationForm.invalid">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- DONATION RECEIPT POPUP -->
<div *ngIf="showReceiptPopup" class="donation-popup-overlay">
  <div class="donation-popup-container">

    <!-- HEADER -->
    <div class="donation-popup-header no-print">
      <div class="button-group">
        <button class="btn print" (click)="printReceipt()">🖨 Print</button>
        <button class="btn back" (click)="closePrintPopup()">⬅ BACK</button>
        <button class="btn download" (click)="downloadPDF()">⬇ DOWNLOAD</button>
      </div>
      <span class="donation-close-btn" (click)="closePrintPopup()">✖</span>
    </div>

    <!-- BODY -->
    <div class="donation-popup-body">

      <div id="receiptSection" class="donation-template">

        <!-- HEADER -->
        <div class="donation-header-row">
          <img src="assets/mankurussi-temple-f.JPG" class="donation-logo"/>

          <div class="donation-header-text">
            <h2>Mankurussi Bhagavathi Temple</h2>
            <p>Karakurussi, Palakkad, Kerala - 678595</p>
            <p class="contact-line">
              <img src="assets/phone-call.png" class="icon-img">
              <span>9072017303</span>,
              <img src="assets/email.png" class="icon-img">
              <span>mankurussibhagavathitemple&#64;gmail.com</span>
            </p>
            <p> <b>Online Vazhipadu Booking: https://www.keralatemplesbooking.com/booknow/?temple=258</b></p>
            <p><b>UPI ID: themankuruss4645&#64;dlb</b></p>
          </div>
        </div>

        <!-- TITLE -->
        <div class="donation-title-row">
          <h3 class="donation-title">DONATION RECEIPT</h3>

<!--          <div class="donation-meta">-->
<!--            <p><b>No:</b> test</p>-->
<!--            <p><b>Date:</b> test</p>-->
<!--          </div>-->
          <div class="donation-meta">
            <table class="meta-table">
              <tr>
                <td class="meta-label">Receipt No</td>
                <td class="meta-value">{{selectedDonation?.receiptBookNo}}-{{selectedDonation?.receiptNo}}</td>
              </tr>
              <tr>
                <td class="meta-label">Receipt Date</td>
                <td class="meta-value">{{selectedDonation?.donationDate | date:'dd/MM/yyyy' }}</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- TABLE -->
        <table class="donation-table">
          <tr>
            <td class="label">Received from</td>
            <td>
              {{ selectedDonation?.devoteeName }}
              <span *ngIf="selectedDonation?.address">
      ({{ selectedDonation?.address }})
    </span>
            </td>
          </tr>
          <tr><td class="label">Amount</td><td>₹ {{selectedDonation?.amount}}</td></tr>
          <tr>
            <td class="label">Amount in words</td>
            <td>{{ convertToWords(selectedDonation.amount) }}</td>
          </tr>
          <tr>
            <td class="label">Payment Method</td>
            <td>
              <span *ngIf="selectedDonation?.paymentType === 'CASH'">☑</span>
              <span *ngIf="selectedDonation?.paymentType !== 'CASH'">☐</span>
              Cash &nbsp;&nbsp;

              <span *ngIf="selectedDonation?.paymentType === 'UPI'">☑</span>
              <span *ngIf="selectedDonation?.paymentType !== 'UPI'">☐</span>
              UPI
            </td>
          </tr>
          <tr><td class="label">Purpose</td><td>{{selectedDonation?.donateFor}}</td></tr>
        </table>

        <!-- FOOTER -->
        <div class="donation-footer">
          <span>Thank you for your generosity. We appreciate your support</span>
          <span>Authorized Signature</span>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- MY PROFILE MODAL -->

<div class="profile-popup" *ngIf="showMyProfileModal">

  <div class="profile-card">

    <button class="profile-close-btn" (click)="showMyProfileModal=false">✕</button>

    <!-- Avatar -->
    <div class="profile-avatar">
      {{profile.name?.charAt(0) || 'U'}}
    </div>

    <!-- Name -->
    <h3>{{profile.name}}</h3>
    <span class="role-badge" [ngClass]="profile.role">
      {{profile.role}}
    </span>

    <div class="profile-info">

      <div class="info-row">
        <span>Email</span>
        <p>{{profile.email || '-'}}</p>
      </div>

      <div class="info-row">
        <span>Phone</span>
        <p>{{profile.phone || '-'}}</p>
      </div>

      <div class="info-row">
        <span>Address</span>
        <p>{{profile.address || '-'}}</p>
      </div>

      <div class="info-row">
        <span>District</span>
        <p>{{profile.district || '-'}}</p>
      </div>

      <div class="info-row">
        <span>State</span>
        <p>{{profile.state || '-'}}</p>
      </div>

    </div>

    <div class="profile-actions">

      <button class="btn-edit">
        ✏ Edit Profile
      </button>

      <button class="btn-password">
        🔑 Change Password
      </button>

    </div>

  </div>

</div>
<app-confirm-dialog
  #confirmDialog
  (confirmed)="deleteConfirmed()">
</app-confirm-dialog>
